
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.blog-footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  text-align: start;
}

footer {
  padding-top: 0.5rem;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
  display: block;
}
.h2-pop button{
  font: 16px DBHeaventMd, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #343434;
  transform: translateY(0);
  opacity: 1;
}
.h2-pop button:hover{
	color: #ffffff;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.b-nav a {
  font: 22px DBHeaventMd, Tahoma, sans-serif;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #343434;
  padding: 16px 14px;
  transform: translateY(0);
  opacity: 1;
}
.b-nav a:hover{
	color: #3ed995;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.b-nav a .desc {
	font: 20px 'DBHeaventR', Arial, sans-serif;
	display: none;
}

.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  input, select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-gender {
    display: flex;
    align-items: center;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  /* เพิ่ม Animation ให้ฟอร์ม */
.animate-form {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* เพิ่ม Animation ให้หัวข้อฟอร์ม */
  .animate-heading {
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* เพิ่ม Animation ให้ปุ่ม */
  .animate-button {
    transition: all 0.3s ease;
  }
  
  .animate-button:hover {
    background-color: #0069d9;
    color: white;
    transform: translateY(-5px);
  }  